@{
    ViewData["Title"] = "Home Page";
}

<div align = "justify">
    <p >a) se puede apreciar en la Ventana Edificio y Sala permitiendo ver con mayor información, editar, eliminar o agregar </p>
    <p> b) se puede apreciar en la Ventana Información de Arriendo donde tiene la opción de filtrar por cualquiera parámetro.</p>
    <p> c) en la ventana C, muestra la capacidad total del Edificio y los ordena de mayor a menor.</p>
    <p> d) está en la ventana Salas, podemos ver una opción que nos deja dividir por Capacidad o Número Piso , para ésto, sólo muestra los que son mayores al parámetro ingresado.</p>
    <p> e) está en la ventana E , sólo muestra los Edificios que tengan salas en todos los pisos.</p>
    <p> f) está en la ventana F, aquí nos muestra Los Edificios con sus cantidades de Salas y Cuantos instrumentos tiene esa Sala </p>
</div>

<h1>Diagrama ER</h1>
<img src="images/diagrama.jpg" alt="diagrama">
