@model List<String>
@{
    ViewData["Title"] = "E";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
               Nombre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (String item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                <a asp-controller="Edificios" a asp-action="Details" asp-route-id="@item">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
